Output/
Output_after_removing_Shader_nodes/
kinect/__MACOSX/
kinect/kinect/
Buffer/
BlenderToolbox/
Colored_PC_2.O/Output_PC_Vis/
Colored_PC_2.O/Point_cloud(.xyz)/
Colored_PC_2.O/kinect/
Data/
# .Colored_PC/
.venv/